/*GANTT CHARTS */

* {
  margin: 0;
  padding: 0;
}

body {
  background: #fff;
  font-family: 'Open-Sans',sans-serif;
}

#container {
  margin: 0 auto;
  position: relative;
  width:800px;
  overflow: visible;
}


.svg {
  width:800px;
  height:250px;
  overflow: visible;
  position:absolute;
}

.grid .tick {
    stroke: lightgrey;
    opacity: 0.3;
    shape-rendering: crispEdges;
}
.grid path {
      stroke-width: 0;
}
